.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      background-color: rgb(52, 104, 180);
      opacity: 1;
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(52, 104, 180);
    opacity: 0.8;

    &.samsung-blue {
      background-color: rgb(52, 104, 180);
    }

    &.lg-red {
      background-color: rgb(182, 40, 40);
    }

    &.brightsign-purple {
      background-color: rgb(104, 84, 161);
    }

    &.sky-blue {
      background-color: rgb(10, 35, 114);
    }

    &.orange {
      background-color: rgb(211, 132, 29);
    }
  }

  .content {
    height: 90px;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: #fff;
    position: absolute;
    opacity: 0.9;
    overflow: hidden;

    .title {
      font-family: "Ubuntu", sans-serif;
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
      font-family: "Nanum Gothic", sans-serif;
    }
  }
}
