.shop-category-preview {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #fff;
  padding: 10px;

  &.samsung-blue {
    background-color: rgba(52, 103, 180, 0.9);
  }

  &.lg-red {
    background-color: rgba(182, 40, 40, 0.9);
  }

  &.brightsign-purple {
    background-color: rgba(104, 84, 161, 0.9);
  }

  &.sky-blue {
    background-color: rgba(10, 35, 114, 0.9);
  }

  &.orange {
    background-color: rgba(211, 132, 29, 0.9);
  }

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    font-family: "Ubuntu", sans-serif;
    color: #fff;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
